<div>
    <h1>LISTIFY - IEnumerable and IList</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Use the following link to access to the Listify REST API to generate an Enumerable set of integers and to find the valus of a given idex. The link is: /home/listify/?data1=()&data2=()&data3=()</p>
   </div>
</div>
